#header {
  background-image: url(/andrewv.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-bottom: 0px;
}

#title {

  color: white;
}

#about h2 {
  padding: 15px;
  color:  #5bc0de;
  margin-bottom: 0px;
}

.info {
  margin-top: -1px;
  background-image: url(/blackbar.png);
}

div {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#game {
  margin-top: 0px;
}

#myCarousel { margin: none;
    width: 100%;
    padding: 0px;
  }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height: 800px;
      width: 100%;
      margin: auto;
  }


  #item {
    width: 50%;
    height: 50%;

  }

  .carousel-caption {
  position: absolute;
  top: 20em;
  left: 20em;
  z-index: 2;
}

.carousel-caption2 {
    position: absolute;
    color: white;
    padding-top: 75px;
    padding-left: 130px;
    font-size: 42px;
    z-index: 2;
}

.carousel-caption2 h1 {
  font-size: 40px;
}

#logo {
      position: absolute;
    color: white;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 42px;
  z-index: 2;
}