<html>
<head>
  <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/andrew.js"></script>
</head>
<body>
<form action="/positions" id="positions" method="POST">
  <input type="text" name="title" placeholder="title"><br><br>
  <label>Comments</label><br><br>
  <textarea name="comment" rows="4" cols="50"></textarea><br><br>
  <button>Show my location</button>
<form action="/positions" method="POST">
<div id="out"></div>


</body>
</html>

